[Unit]
Description=Obnam server
ConditionPathExists=/etc/obnam/server.yaml

[Service]
Type=simple
ExecStart=/bin/obnam-server /etc/obnam/server.yaml

[Install]
WantedBy=multi-user.target
