#!/usr/bin/make -f

%:
	dh $@ --buildsystem cargo

override_dh_auto_build:
	true

override_dh_auto_install:
	cargo install --path=. --root=debian/obnam
	find debian/obnam -name '.crates*' -delete
	find debian/obnam/bin -type f ! -name 'obnam*' -delete

override_dh_auto_test:
	echo not running ./check in Debian package build
	echo tests need too much infra in test environment
